.skin-bg{
    background-color: #c7000a;
}
.skin-border{
    border-color:#c7000a;
}
.skin-color{
    border-color:#c7000a;
}
/*按钮组*/
.skin-button{
    border-color:#c7000a;
    background-color:#c7000a;
    -webkit-box-shadow:0 4px 5.76px 0.24px rgba(199,0,10,.2);
    -moz-box-shadow:0 4px 5.76px 0.24px rgba(199,0,10,.2);
    box-shadow:0 4px 5.76px 0.24px rgba(199,0,10,.2);
}
.skin-other-button{
    border-color:#ffb03f;
    background-color:#ffb03f;
    -webkit-box-shadow: 0 4px 5.76px 0.24px rgba(255,176,63,.2);
    -moz-box-shadow: 0 4px 5.76px 0.24px rgba(255,176,63,.2);
    box-shadow:0 4px 5.76px 0.24px rgba(255,176,63,.2);
}
/*线性按钮*/
.skin-outline-button{
    border-color:#c7000a!important;
    background-color: transparent;
    background-image: none;
}
/*鼠标滑过按钮效果*/
.skin-button:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.skin-other-button:hover{
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.skin-outline-button:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
/*按钮不能点击时效果*/
.skin-button.disabled, .skin-button:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.skin-other-button.disabled, .skin-other-button:disabled {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}
.skin-outline-button.disabled, .skin-outline-button:disabled {
    color: #dc3545;
    border-color:#dc3545;
    background-color: transparent;
}
/*汇总带背景效果*/
.skin-total{
    background-color: #ffdee0;
    color: #000;
}
/*input获取焦点时效果*/
.skin-input:focus {
    border-color: #c7000a!important;
}
